USE [BookStore]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 10/23/2019 9:46:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[AuthorId] [int] IDENTITY(1,1) NOT NULL,
	[AuthorName] [nvarchar](128) NULL,
 CONSTRAINT [PK__Author__70DAFC34104848A9] PRIMARY KEY CLUSTERED 
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cart]    Script Date: 10/23/2019 9:46:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[MemberId] [bigint] NULL,
	[AddedDate] [datetime] NOT NULL CONSTRAINT [DF_Cart_AddedDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[CartId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 10/23/2019 9:46:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](128) NULL,
	[ParentId] [int] NULL,
 CONSTRAINT [PK__Category__19093A0BF5A845F4] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 10/23/2019 9:46:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[InvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [bigint] NOT NULL,
	[Email] [nvarchar](128) NULL,
	[Tel] [nvarchar](16) NULL,
	[Address] [nvarchar](128) NULL,
	[StatusId] [tinyint] NULL,
	[AddedDate] [datetime] NULL CONSTRAINT [DF_Invoice_AddedDate]  DEFAULT (getdate()),
 CONSTRAINT [PK__Invoice__D796AAB5EB40885A] PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InvoiceDetail]    Script Date: 10/23/2019 9:46:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetail](
	[InvoiceId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [smallint] NULL,
	[Price] [int] NULL,
 CONSTRAINT [PK_InvoiceDetail] PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Member]    Script Date: 10/23/2019 9:46:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[MemberId] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](128) NULL,
	[Password] [nvarchar](128) NULL,
	[Email] [nvarchar](128) NOT NULL,
	[Gender] [tinyint] NULL,
	[AddedDate] [datetime] NULL CONSTRAINT [DF_Member_AddedDate]  DEFAULT (getdate()),
	[Tel] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK__Member__0CF04B18306433B5] PRIMARY KEY CLUSTERED 
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MemberInRole]    Script Date: 10/23/2019 9:46:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberInRole](
	[RoleId] [int] NOT NULL,
	[MemberId] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 10/23/2019 9:46:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NULL,
	[PublisherId] [int] NULL,
	[AuthorId] [int] NULL,
	[Title] [nvarchar](128) NULL,
	[Pages] [smallint] NULL,
	[Weight] [nvarchar](16) NULL,
	[Size] [nvarchar](16) NULL,
	[Descreption] [nvarchar](1024) NULL,
	[Content] [nvarchar](2048) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[Price] [int] NULL,
	[ISBN] [nvarchar](16) NULL,
 CONSTRAINT [PK__Product__B40CC6CD9BBAECC0] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Publisher]    Script Date: 10/23/2019 9:46:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publisher](
	[PublisherId] [int] NOT NULL,
	[PublisherName] [nvarchar](128) NULL,
PRIMARY KEY CLUSTERED 
(
	[PublisherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 10/23/2019 9:46:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] NOT NULL,
	[RoleName] [nvarchar](128) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Status]    Script Date: 10/23/2019 9:46:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusId] [tinyint] NOT NULL,
	[StatusName] [nvarchar](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Author] ON 

INSERT [dbo].[Author] ([AuthorId], [AuthorName]) VALUES (1, N'1,Vaskaran Sarcar')
INSERT [dbo].[Author] ([AuthorId], [AuthorName]) VALUES (2, N'Andrew Troelsen')
INSERT [dbo].[Author] ([AuthorId], [AuthorName]) VALUES (3, N'Rogers Cadenhead')
SET IDENTITY_INSERT [dbo].[Author] OFF
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([CartId], [ProductId], [Quantity], [MemberId], [AddedDate]) VALUES (11, 1, 1, 1, CAST(N'2019-10-15 15:36:40.643' AS DateTime))
INSERT [dbo].[Cart] ([CartId], [ProductId], [Quantity], [MemberId], [AddedDate]) VALUES (12, 1, 3, 37, CAST(N'2019-10-18 16:49:13.090' AS DateTime))
SET IDENTITY_INSERT [dbo].[Cart] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [CategoryName], [ParentId]) VALUES (1, N'Web Development', NULL)
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [ParentId]) VALUES (2, N'Programming', NULL)
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [ParentId]) VALUES (3, N'Databases', NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Invoice] ON 

INSERT [dbo].[Invoice] ([InvoiceId], [MemberId], [Email], [Tel], [Address], [StatusId], [AddedDate]) VALUES (7, 1, N'phamthithuyptithcm@gmail.com', N'0123', N'0123', NULL, CAST(N'2019-01-02 00:00:00.000' AS DateTime))
INSERT [dbo].[Invoice] ([InvoiceId], [MemberId], [Email], [Tel], [Address], [StatusId], [AddedDate]) VALUES (8, 1, N'1111111', N'1111111', N'111111', 1, CAST(N'2019-01-01 00:00:00.000' AS DateTime))
INSERT [dbo].[Invoice] ([InvoiceId], [MemberId], [Email], [Tel], [Address], [StatusId], [AddedDate]) VALUES (9, 39, N'phamthithuy4444@gmail.com', N'035467286', N'97, Man Thiện, Hiệp Phú,, quận 9, thành phố Hồ Chí Minh', 4, CAST(N'2019-09-09 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Invoice] OFF
INSERT [dbo].[InvoiceDetail] ([InvoiceId], [ProductId], [Quantity], [Price]) VALUES (7, 1, 1, 100000)
INSERT [dbo].[InvoiceDetail] ([InvoiceId], [ProductId], [Quantity], [Price]) VALUES (8, 2, 1, 100000)
INSERT [dbo].[InvoiceDetail] ([InvoiceId], [ProductId], [Quantity], [Price]) VALUES (8, 5, 1, 100000)
SET IDENTITY_INSERT [dbo].[Member] ON 

INSERT [dbo].[Member] ([MemberId], [Username], [Password], [Email], [Gender], [AddedDate], [Tel]) VALUES (1, N'Phạm Thị Thủy', N'$2a$12$G0ZZflKozkxkqzxJFUkwIuqfKm47p5Ji2a1h2HF/y.uqD69EhdKW6', N'phamthithuyptithcm@gmail.com', 1, CAST(N'2018-10-19 11:00:41.000' AS DateTime), N'0123456789')
INSERT [dbo].[Member] ([MemberId], [Username], [Password], [Email], [Gender], [AddedDate], [Tel]) VALUES (37, N'Thanh Tuyền', N'$2a$12$noyHv5rjxCJYYcSpdIQa.uPAwRIa8MsCJPnRhJO8Cx7p3F5JUtO8u', N'thanhtuyen@bookstore.com', 1, CAST(N'2019-10-17 22:08:05.033' AS DateTime), N'035647856')
INSERT [dbo].[Member] ([MemberId], [Username], [Password], [Email], [Gender], [AddedDate], [Tel]) VALUES (38, N'Thu Trang', N'$2a$12$CEvapbQTf5ghQ7GPQjAKHeLHw1RV4SA2g0Yov/o3BrG3uqPvirftm', N'thutrang@bookstore.com', 1, CAST(N'2019-10-20 10:04:26.720' AS DateTime), N'037367497')
SET IDENTITY_INSERT [dbo].[Member] OFF
INSERT [dbo].[MemberInRole] ([RoleId], [MemberId]) VALUES (1, 1)
INSERT [dbo].[MemberInRole] ([RoleId], [MemberId]) VALUES (2, 39)
INSERT [dbo].[MemberInRole] ([RoleId], [MemberId]) VALUES (2, 40)
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductId], [CategoryId], [PublisherId], [AuthorId], [Title], [Pages], [Weight], [Size], [Descreption], [Content], [ImageUrl], [Price], [ISBN]) VALUES (2, 8, 1, 2, N'Pro C# 7-8th Edition', 1372, N'PDF', N'29.5 MB', N'Ky la', N'', N'2.jpg', 100000, N'1484230175')
SET IDENTITY_INSERT [dbo].[Product] OFF
INSERT [dbo].[Publisher] ([PublisherId], [PublisherName]) VALUES (1, N'Appress')
INSERT [dbo].[Publisher] ([PublisherId], [PublisherName]) VALUES (2, N'Reilly')
INSERT [dbo].[Publisher] ([PublisherId], [PublisherName]) VALUES (4, N'Ky thuat Ha Noi')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (2, N'Member')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (3, N'ROLE_EMPLOYEE')
INSERT [dbo].[Status] ([StatusId], [StatusName]) VALUES (1, N'Processing')
INSERT [dbo].[Status] ([StatusId], [StatusName]) VALUES (2, N'Confirm')
INSERT [dbo].[Status] ([StatusId], [StatusName]) VALUES (3, N'Delivered')
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_EMAIL]    Script Date: 10/23/2019 9:46:18 AM ******/
ALTER TABLE [dbo].[Member] ADD  CONSTRAINT [UK_EMAIL] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_PHONE]    Script Date: 10/23/2019 9:46:18 AM ******/
ALTER TABLE [dbo].[Member] ADD  CONSTRAINT [UK_PHONE] UNIQUE NONCLUSTERED 
(
	[Tel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Member] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([MemberId])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Member]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Product]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK__Invoice__MemberI__1ED998B2] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([MemberId])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK__Invoice__MemberI__1ED998B2]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK__Invoice__StatusI__276EDEB3] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK__Invoice__StatusI__276EDEB3]
GO
ALTER TABLE [dbo].[InvoiceDetail]  WITH CHECK ADD  CONSTRAINT [FK__InvoiceDe__Invoi__286302EC] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoice] ([InvoiceId])
GO
ALTER TABLE [dbo].[InvoiceDetail] CHECK CONSTRAINT [FK__InvoiceDe__Invoi__286302EC]
GO
ALTER TABLE [dbo].[InvoiceDetail]  WITH CHECK ADD  CONSTRAINT [FK__InvoiceDe__Produ__22AA2996] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[InvoiceDetail] CHECK CONSTRAINT [FK__InvoiceDe__Produ__22AA2996]
GO
ALTER TABLE [dbo].[MemberInRole]  WITH CHECK ADD  CONSTRAINT [FK__MemberInR__Membe__286302EC] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([MemberId])
GO
ALTER TABLE [dbo].[MemberInRole] CHECK CONSTRAINT [FK__MemberInR__Membe__286302EC]
GO
ALTER TABLE [dbo].[MemberInRole]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK__Product__AuthorI__1920BF5C] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Author] ([AuthorId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK__Product__AuthorI__1920BF5C]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK__Product__Categor__182C9B23] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK__Product__Categor__182C9B23]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK__Product__Publish__1A14E395] FOREIGN KEY([PublisherId])
REFERENCES [dbo].[Publisher] ([PublisherId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK__Product__Publish__1A14E395]
GO
/****** Object:  StoredProcedure [dbo].[AddCart]    Script Date: 10/23/2019 9:46:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddCart](@MemberId BIGINT
                        , @ProductId int
						,@Quantity int)
AS
BEGIN
	DECLARE @count INT = 0
	SELECT @count = dbo.Cart.Quantity FROM dbo.Cart WHERE dbo.Cart.MemberId = @MemberId AND dbo.Cart.ProductId = @ProductId
	IF(@count < 1 )
		INSERT INTO Cart( MemberId, ProductId, Quantity) VALUES (@MemberId, @ProductId, @Quantity)
	ELSE
		UPDATE  Cart SET dbo.Cart.Quantity = (dbo.Cart.Quantity + @Quantity) WHERE dbo.Cart.MemberId = @MemberId AND dbo.Cart.ProductId = @ProductId	
END

GO
/****** Object:  StoredProcedure [dbo].[AddInvoice]    Script Date: 10/23/2019 9:46:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddInvoice](@pMemberId BIGINT
							,@pEmail VARCHAR(64)
							,@pTel VARCHAR(16)
							,@pAddress VARCHAR(128)
							)
as
BEGIN
	DECLARE @id int;

	INSERT INTO Invoice(MemberId, Email, Tel, Address,StatusId) VALUES(@pMemberId, @pEmail, @pTel, @pAddress,1);
	SELECT @id= @@IDENTITY

	INSERT into InvoiceDetail (InvoiceId, ProductId, Quantity, Price) 
	SELECT @id, Cart.ProductId, Cart.Quantity, Price  FROM Cart INNER JOIN Product ON Cart.ProductId = Product.ProductId
		WHERE  MemberId = @pMemberId;

	DELETE FROM Cart WHERE MemberId = @pMemberId;
END

GO
/****** Object:  StoredProcedure [dbo].[GetCarts]    Script Date: 10/23/2019 9:46:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetCarts](@MemberId BIGINT)
AS
BEGIN
	SELECT CartId, Cart.ProductId, Title, ImageUrl, Quantity, Price, Cart.AddedDate 
	FROM Cart 
	INNER JOIN Product ON Cart.ProductId = Product.ProductId WHERE MemberId = @MemberId
END

GO
